    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">بحث في المنتجات</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control form-control-lg mb-3" id="searchInput" placeholder="ابحث عن منتج...">
                    <div id="searchResults"></div>
                </div>
            </div>
        </div>
    </div>
