---
permalink: products-api.json
---
{
  "products": [
    {%- for product in products.products -%}
    {
      "id": {{ product.id | dump | safe }},
      "name": {{ product.name | dump | safe }},
      "description": {{ product.description | dump | safe }},
      "price": {{ product.price }},
      "image": {{ product.image | dump | safe }},
      "category": {{ product.category | dump | safe }}
    }{% if not loop.last %},{% endif %}
    {%- endfor -%}
  ]
}
